/*Login Page*/
.login-and-notification-container {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto;
}

.login-form {
  display: grid;
  justify-items: center;
  grid-template-rows: auto;
  margin-top: 30px;
}

.login-form label {
  font-size: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 250px;
  height: 10px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.login-form input[type="submit"] {
  cursor: pointer;
  font-size: 20px;
  background-color: #024a3f;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 5px 5px;
  width: 100px;
  margin-top: 10px;
  margin-left: 150px;
}

.page-container {
  background-color: #024a3f;
  height: 100vh;
}

/*Nav Bar*/
.navbar {
  background-color: #078d75;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-size: 25px;
}

.navbar div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logout-button {
  cursor: pointer;
  background-color: rgb(193, 198, 201);
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
  width: 80px;
  font-size: 20px;
  color: rgb(16, 12, 59);
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  text-decoration: underline;
}

/*main*/
.main {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.main h1 {
  grid-column-start: 1;
  padding: 30px;
}

.toggle-button {
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 3px;
  border-style: double;
  border-color: white;
  padding: 5px 10px;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.blogs-list {
  display: grid;
}

.blogs-list-item {
  font-size: 30px;
}

.blogs-list-item a:link {
  text-decoration: none;
  color: #000706;
}
.blogs-list-item a:visited {
  text-decoration: none;
  color: #000706;
}
.blogs-list-item a:hover {
  text-decoration: underline;
}

/*new blog form*/

.create-new-blog-title,
.create-new-blog-url,
.create-new-blog-author {
  font-size: 20px;
}

.create-new-blog-title input,
.create-new-blog-url input,
.create-new-blog-author input {
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 300px;
}

.new-blog-form button {
  width: 100px;
  font-size: 20px;
  background-color: aquamarine;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.new-blog-form button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.toggle-cancel-button {
  background-color: rgb(149, 68, 196);
  width: 100px;
  font-size: 20px;
  color: white;
}
.toggle-cancel-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

/*individual blog page*/
.likes-text {
  color: rgb(0, 195, 255);
}

.like-button {
  background-color: rgb(0, 195, 255);
  color: white;
  border-color: white;
}

.remove-blog-button {
  background-color: red;
  color: white;
  border-color: white;
}
